<script type="javascript">
  window.icon = '<%= image_url("shareyourbuildLogo.png")  %>'
  window.slideTwo = '<%= image_url("architect-architecture-build-1109541.jpg")  %>'
  window.slideThree = '<%= image_url("costume-head-horn-908686.jpg")  %>'
  window.slideOne = '<%= image_url("chef-cooker-cooking-8717.jpg")  %>'
  window.slideFour = '<%= image_url("artificial-intelligence-circuit-board-computing-50711.jpg")  %>'
  window.github = '<%= image_url("GitHub-Mark-120px-plus.png")  %> '
</script>





<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render('/api/users/user.json.jbuilder', { user: current_user }).html_safe %>
  </script>
<% end %>

<main id="root">React will take from here</main>
